body {font-family: Arial, Helvetica, sans-serif;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4568DC, #B06AB3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4568DC , #B06AB3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color : #fff;   }

#loginForm {border: 2px solid #f1f1f1;
   border-radius: 10px;
    } 

button:hover {
    opacity: 0.8;
}

#loginBtn {
   background-color: white;
   
}

#one{
    border-top: 1px solid #f1f1f1;
    text-align: center;
    color: white;
}

.avatar{
    width: 100px;
    height: 100px;
}

#regisSpan:hover{
    opacity: 0.8;
}




